﻿@model IEnumerable<Gallery.Models.Folder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AddedFolder)
        </th>
        <th>Date</th>
        @*<th>
            @Html.DisplayNameFor(model => model.PictureId)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AddedFolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PictureId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
