﻿
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to <strong>GALLERY</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>The community for passionate photographers</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-lg btn-min-block" href="/Account/Login">Login</a><a class="btn btn-theme btn-lg btn-min-block" href="/Account/Register">Register</a>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Second slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Get inspired and share your best photos</span>
                            </h2>
                            <br>
                            <h3>
                                <span>Discover what’s trending according to photographers around the world.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-lg btn-min-block" href="/Account/Login">Login</a><a class="btn btn-theme btn-lg btn-min-block" href="/Account/Register">Register</a>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>The community for passionate photographers</span>
                            </h2>
                            <br>
                            <h3>
                                <span>Share your passion with the world</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-lg btn-min-block" href="/Account/Login">Login</a><a class="btn btn-theme btn-lg btn-min-block" href="/Account/Register">Register</a>
                            </div>
                        </div>
                    </div><!-- /header-text -->
                </div>
        
            </div>
            <!-- Controls -->

        </div><!-- /carousel -->
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2 class="text-center" style="text-decoration:underline">Recent</h2>
    </div>
</div>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                <img src='@Url.Action("Show", "Picture", new { id = item.Id })' style="width:100%;" />
                <p class="text-center">@item.Title</p>
            </a>
        </div>

        <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" alt="" />                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>




<div class="row">
    <div class="col-md-12">
        <h2 class="text-center" style="text-decoration:underline">Popular</h2>
    </div>
</div>


<div class="row">
    @foreach (var item in ViewBag.MostLikedPictures)
    {
        <div class="col-md-3">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                <img src='@Url.Action("Show", "Picture", new { id = item.Id })' style="width:100%;" />
                <p class="text-center">@item.Title</p>
            </a>
        </div>

        <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" alt="" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<div class="row">
    <div class="col-md-12">
        <h2 class="text-center" style="text-decoration:underline">Featured</h2>
    </div>
</div>

<div class="row">
    @if (ViewBag.RandomPicture != null)
    {
        foreach (var item in ViewBag.RandomPicture)
        {
            <div class="col-md-4">
                <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                    <img src='@Url.Action("Show", "Picture", new { id = item.Id })' style="width:100%;" />
                    <p class="text-center">@item.Title</p>
                </a>
            </div>

            <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="" alt="" />
                          
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
</div>


<div class="row">
    <div class="col-md-12">
        <h2 class="text-center" style="text-decoration:underline">Recent Albums</h2>
    </div>
</div>


<div class="row">
    <h2 class="col-md-12 text-center">
        @foreach (var item in ViewBag.Folders)
        {
            <td>
                <a href="/picture/index/@item.Id">@item.Title</a>
            </td>
        }



        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </h2>
</div>
